<ul class="title-area">
    <li class="name">
        <a class="bars-lnk" ng-click="toggleMenu()">
            <i class="fa fa-2x fa-bars"></i>
            <img id="logo" src="img/editor.logo.white.png">
        </a>
        <span class="version"><em>build: {{version}}</em></span>
    </li>
    <li></li>
</ul>

<section class="top-bar-section">
    <ul class="right">
        <!-- https://fontawesome.com/v4/icons/ -->
        <li><a ng-click="getHash()"><i class="fa fa-lg fa-share-square-o"></i>&nbsp;&nbsp;Get link</a></li>
        <li><a ng-click="toCleanRead()"><i class="fa fa-lg fa-share-square-o"></i>&nbsp;&nbsp;Reader Mode</a></li>
        <li><a ng-click="newTabPreview()"><i class="fa fa-lg fa-external-link"></i>&nbsp;&nbsp;New tab preview</a></li>
        <li><a ng-click="toPdfMake()"><i class="fa fa-lg fa-cloud-download"></i>&nbsp;&nbsp;Pdfmake</a></li>
        <li><a ng-click="toJsPDF()"><i class="fa fa-lg fa-arrow-down"></i>&nbsp;&nbsp;JsPDF</a></li>
        <li><a ng-click="toHtml2pdf()"><i class="fa fa-lg fa-arrow-circle-down"></i>&nbsp;&nbsp;Html2pdf</a></li>
        <li>
            <a href="https://github.com/bajins/scripts_python/tree/master/html2pdf_flask" target="_blank">
                <i class="fa fa-lg fa-external-link-square"></i>&nbsp;&nbsp;WeasyPrint</a>
        </li>
    </ul>
</section>