<ul class="title-area">
    <li class="name">
        <a class="bars-lnk" ng-click="toggleMenu()">
            <i class="fa fa-2x fa-bars"></i>
            <img id="logo" src="img/editor.logo.white.png">
        </a>
        <span class="version"><em>build: {{version}}</em></span>
    </li>
    <li></li>
</ul>

<section class="top-bar-section">
    <ul class="right">
        <li><a ng-click="getHash()"><i class="fa fa-lg fa-share-square-o"></i>&nbsp;&nbsp;Get link</a></li>
        <!-- https://fontawesome.com/v4/icons/ -->
        <li><a ng-click="newTabPreview()"><i class="fa fa-lg fa-external-link"></i>New tab preview</a></li>
        <li><a ng-click="toPdfMake()"><i class="fa fa-lg fa-cloud-download"></i>Pdfmake</a></li>
        <li><a ng-click="toJsPDF()"><i class="fa fa-lg fa-arrow-down"></i>JsPDF</a></li>
        <!-- fa-download -->
        <li><a ng-click="toHtml2pdf()"><i class="fa fa-lg fa-arrow-circle-down"></i>Html2pdf</a></li>
    </ul>
</section>